@import 'theme-constants';


.entry-meta {
	display: none;
}

/* Main calendar table */
.gce-page-grid .gce-calendar{ 
	border:1px solid $not-dark-background;
	color: $dark-background;
}

/* Day headings (S, M etc.) */
.gce-page-grid .gce-calendar th {
	border: 1px solid $not-dark-background;
}

/* Day table cells */
.gce-page-grid .gce-calendar td {
	border: 1px solid $not-dark-background;
}

/* Table cells with events */
.gce-page-grid .gce-calendar .gce-has-events{ 
	color: $lighter-primary;
}