$primary-color: #AA3939;
$darker-primary: #5C0E0E;
$lighter-primary: #F9928C;

$background: #FFEACB;
$dark-background: #0D0900;
$not-dark-background: #F9CD8C;

$header-font: 'Cinzel', serif;
$header-font-size: 48px;
$mobile-header-font-size: 24px;
$menu-font-size: 18px;

$content-font: 'Forum', serif;

