$primary-color: #AA3939;
$darker-primary: #5C0E0E;
$lighter-primary: #F9928C;

$background: #FFEACB;
$dark-background: #0D0900;
$not-dark-background: #F9CD8C;

$header-font: 'Cinzel Decorative', cursive;
$content-font: 'Forum', serif;

